/* Style général */
body {
    font-family: Calibri, Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1{
	font-family: Impact;
	font-size: 3rem;
	text-align: center;
}

h1,
h2 {
    margin-top: 0;
}

/* Formulaire de réservation */
#reservationForm {
    max-width: 400px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="range"],
select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
	width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.4rem;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

button[type="button"] {
    margin-right: 10px;
}

#errors {
    margin-top: 10px;
    color: red;
}

/* Onglet 2 - Récapitulatif de la réservation */
#onglet2 {
    margin-top: 20px;
    display: none;
}

#onglet2 article{
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: #f4f2f2;
    border-radius: 10px;
    padding: 1rem;
}

#nbPlacesDisplay{
	text-align: center;
	margin-top: 0px;
}

#onglet2 button{
    margin: 1rem auto;
}

#onglet2 img {
    width: 200px;
}

#onglet2 div{
	display: flex;
	justify-content: center;
}

#onglet2 article span{
	font-weight: bold;
}